#projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.work {
	margin: 20px 15px 25px 15px;
	overflow: auto;
}

.work:nth-child(even) {
	margin-right: 40px;
}

.work,
.work img {
	width: 274px;
}

.work img {
	border: 0 none;
	opacity: 0.8;
}

.work h3 {
	bottom: 20px;
	padding: 15px;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #4aaaa5;
	border-bottom: 0;
}

#profile-image-container {
	display: flex;
	justify-content: center;
}
