<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TODOs</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  {{{ body }}}

  <script src="/assets/js/logger.js"></script>
</body>

</html>